@font-face {
    font-family: "sfpro-boldness";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/FontsFree-Net-Boldness-1.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "sfproDisplay-black";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/FontsFree-Net-SFProDisplay-Black.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-Bold1";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/FontsFree-Net-SFProDisplay-Bold1.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-BoldItalic";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/FontsFree-Net-SFProDisplay-BoldItalic.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-Heavy";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/FontsFree-Net-SFProDisplay-Heavy.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-Light";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/FontsFree-Net-SFProDisplay-Light.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-medium-webfont";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/fontsfree-net-sfprodisplay-medium-webfont.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-medium-webfont2";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/fontsfree-net-sfprodisplay-medium-webfont.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-Regular";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/FontsFree-Net-SFProDisplay-Regular.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-Semibold";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/FontsFree-Net-SFProDisplay-Semibold.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-SemiboldItalic";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/FontsFree-Net-SFProDisplay-SemiboldItalic.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  @font-face {
    font-family: "SFProDisplay-Medium";
    src: url("/Users/sajadahmadrather/Sites/projects/my-tailwind-app/public/fonts/sf-pro/SFProDisplay-Medium.woff2")
      format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }
  